*.pyc
*.pyo
.idea
.config
.idea/*.*
.idea/workspace.xml
*.sqlite3
#api/migrations/*
#base/migrations/*
#euser/migrations/*
#transaction/migrations/*
#bulk/migrations/*
#report/migrations/*
.venv
venv
venv/*
.env
commands.txt
.gitignore.
